<h3 class="w3-text-red w3-padding">Rules for Transcribing Utterances</h3>
<ul class="w3-ul w3-padding-large">
  <li>Ideally, you should transcribe at least 50 of the child's utterances.</li>
  <li>An utterance is a sentence or less, separated by a pause, drop in voice, inhalation, or combination of these.</li>
  <li>Omit the following when transcribing: punctuation, filler words (i.e. 'uh' or 'um'), disfluencies.</li>
  <li>Transcribe articulation errors as the intended word (i.e. "rabbit" for "wabbit").</li>
  <li>Type words in full even when pronounciation omits portions. For example, "gonna" should be transcribed as "going to" and "wanna" should be transcribed as "want to".</li>
  <li>If an utterance contains more than two clauses joined with 'and', consider it a run-on sentence. For example, the sentence "We went to the circus and I saw clowns and there were elephants." should be split into: (1) We went to the circus and I saw clowns (2) There were elephants </li>
</ul>


<% content_for :header_links do %>
  <a class="w3-right w3-button" href="/clients/new">New Client</a>
  <a class="w3-right w3-button" href="/">Home</a>
<% end %>